<div class="page-header">
  <h1>
    Logs
    <small>
      <a routerLink="/links">
        Go to my links
      </a>
    </small>
  </h1>
</div>
<p *ngIf="!logs">
  Please wait while we fetch your logs...
</p>
<ol class="breadcrumb">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/links">Links</a></li>
</ol>

<div class="row" *ngIf="osData">
  <h3 class="text-center">Clicks by Operating Systems</h3>
  <app-pie-chart [chartData]='osData'
                 [chartLabels]='osLabels'>

  </app-pie-chart>
</div>

<div class="row" *ngIf="browserData">
  <h3 class="text-center">Clicks by Browsers</h3>
  <app-pie-chart [chartData]='browserData'
                 [chartLabels]='browserLabels'>

  </app-pie-chart>
</div>

<div class="table-responsive">
  <table class="table table-hover" *ngIf="logs">
    <thead>
      <tr>
        <th> IP </th>
        <!--<th> User Agent </th>-->
        <th> Timestamp </th>
        <th> Browser </th>
        <th> OS </th>
        <th> Device </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs">
        <td>{{log.ipAddress}}</td>
        <!--<td>{{log.userAgent}}</td>-->
        <td>{{log.timestamp | date}}</td>
        <td>{{log.browser}}</td>
        <td>{{log.os}}</td>
        <td>{{log.device}}</td>
      </tr>
    </tbody>
  </table>
</div>
